.header {
    display: flex;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: .853rem /* 32/37.5 */;
    width: 100%;
    padding: .16rem /* 6/37.5 */ 0;
    background-color: #ffffff;
    box-shadow: 0 .027rem /* 1/37.5 */ .053rem /* 2/37.5 */ 0 rgba(0,0,0,.04);
    z-index: 999;
}