html {
  background: #f5f5f5;
  color: #333;
}

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp,
optgroup,
option {
  line-height: 1.5;
  /* font-family: arial, '\5B8B\4F53', '\5FAE\8F6F\96C5\9ED1', verdana, helvetica,
      sans-serif; */
}
body, button, input, select, textarea {
  font: 14px/1.5 helvetica neue,tahoma,arial,hiragino sans gb,microsoft yahei,sans-serif;
}
.around-remote:after, .around-tit:before, .car-price-sell:before, .collection li:first-of-type span i, .collection li:last-child span i, .icon-car, .icon-column:before, .icon-home:before, .icon-line:before, .icon-multicolor, .icon-other, .icon-reset:before, .icon-totel:before, .iconbg, .iconcollect, .lines, .nav-item:after, .nav-subscribe:before, .subs-notip:before, .swich-three i {
  background: url(./assets/fontImg/icon.png) no-repeat;
  background-size: 210px auto;
}
body {
  min-width: 320px;
  max-width: 540px;
  font-size: 16px;
  /* margin: 0 auto; */
  padding-top: 44px;/* iphone规则 header 让位*/
}

.hidden,
[hidden] {
  display: none !important;
}

::-webkit-input-placeholder {
  color: #c7ced4;
}

button {
  -webkit-appearance: none;
}

a:hover { 
  text-decoration:  none;
}